<div class="container">
  <h1>DS Catalog - Angular Version</h1>
  <div class="categories-list">
    <div class="input-group">
      <input type="text" placeholder="Category" />
      <button class="add-button">+</button>
    </div>
    <table>
      <tr class="even">
        <td>
          <pre>Books</pre>
        </td>
        <td>
          <button class="remove-button">X</button>
        </td>
      </tr>
      <tr class="odd">
        <td>
          <pre>Electronics</pre>
        </td>
        <td>
          <button class="remove-button">X</button>
        </td>
      </tr>
      <tr class="even">
        <td>
          <pre>Computers</pre>
        </td>
        <td>
          <button class="remove-button">X</button>
        </td>
      </tr>
      <tr class="odd">
        <td>
          <pre>Magazines</pre>
        </td>
        <td>
          <button class="remove-button">X</button>
        </td>
      </tr>
    </table>
  </div>
</div>
<router-outlet></router-outlet>
