<div class="container">
  <h1>{{ title }}</h1>
  <div class="categories-list">
    <div class="input-group">
      <input type="text" placeholder="Category" />
      <button class="add-button">+</button>
    </div>
    <table>
      <tr *ngFor="let category of categories" class="even">
        <td>
          <pre>{{ category.name }}</pre>
        </td>
        <td>
          <button class="remove-button">X</button>
        </td>
      </tr>
    </table>
  </div>
</div>
<router-outlet></router-outlet>
