header {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  margin: -1rem;
  padding: 1rem;
  margin-bottom: 2rem;
  color: white;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 0 0 1rem black;
  box-shadow: 0 0 1rem black;
  vertical-align: middle;
  border-radius: 1rem;
  font-family: "Roboto", sans-serif;
}
