<div class="container">
  <div class="categories-list">
    <div class="input-group">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Number</mat-label>
          <input
            type="text"
            placeholder="Pick one"
            aria-label="Number"
            matInput
            [formControl]="myControl"
            [matAutocomplete]="auto"
            #newCategory
          />
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option
              *ngFor="let option of filteredOptions | async"
              [value]="option"
            >
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <!-- Two way data binding -->
        <mat-form-field class="example-full-width">
          <mat-label>Image</mat-label>
          <input
            type="text"
            placeholder="Select category image"
            aria-label="Image"
            matInput
            [formControl]="edtImage"
            [(ngModel)]="strImageUrl"
            #newImage
          />
        </mat-form-field>
        <!-- Property & event binding-->
        <div
          [matBadge]="categories.length"
          matBadgeOverlap="false"
          class="demo-section"
        >
          <button
            mat-raised-button
            color="primary"
            (mouseover)="allowNewCategory = true"
            (click)="create(newCategory.value)"
            [disabled]="!allowNewCategory"
            class="add-button"
          >
            +
          </button>
        </div>

        <!-- String interpolation -->
        <p>Allow new category is set to {{ allowNewCategory }}</p>
        <p>Image URL: {{ strImageUrl }}</p>
      </form>
    </div>
    <table>
      <tr
        *ngFor="let category of categories; let i = index"
        [class.even]="i % 2 == 0"
        [class.odd]="i % 2 != 0"
      >
        <td>
          <p>{{ category.name }}</p>
        </td>
        <td>
          <button (click)="destroy(category.id)" class="remove-button">
            X
          </button>
        </td>
      </tr>
    </table>
    <a [routerLink]="['/']">Home</a>
  </div>
</div>
