<div class="container">
  <div class="categories-list">
    <div class="input-group">
      <input type="text" placeholder="Category" #newCategory />
      <button (click)="create(newCategory.value)" class="add-button">+</button>
    </div>
    <table>
      <tr
        *ngFor="let category of categories; let i = index"
        [class.even]="i % 2 == 0"
        [class.odd]="i % 2 != 0"
      >
        <td>
          <p>{{ category.name }}</p>
        </td>
        <td>
          <button (click)="destroy(category.id)" class="remove-button">
            X
          </button>
        </td>
      </tr>
    </table>
  </div>
  <a [routerLink]="['/']">Home</a>
</div>
