<div class="p-1 xl:columns-3 md:columns-2">
  <app-category-item
    *ngFor="let category of categories"
    [category]="category"
  />
  <app-category-modal [isModalVisible]="isModalVisible"></app-category-modal>
  <div class="rounded overflow-hidden shadow-lg p-4">
    <p>Directives playground:</p>

    <ul class="max-w-md divide-y divide-gray-200 dark:divide-gray-700">
      <li
        class="pb-3 sm:pb-4"
        *ngFor="let category of categories"
        [ngClass]="{ odd: category.id % 2 != 0 }"
        [ngStyle]="{
          'background-color': category.id % 2 != 0 ? 'yellow' : 'transparent'
        }"
      >
        <div class="flex items-center space-x-4">
          <div class="inline-flex items-center text-base font-semibold">
            {{ category.id }}
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="rounded overflow-hidden shadow-lg p-4">
    <p appBasicHighlight>Basic highlight directive example</p>
    <p appBetterHighlight [defaultColor]="'red'" [highlightColor]="'teal'">
      Better highlight directive example
    </p>
    <button
      (click)="toggleArea()"
      type="button"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
    >
      Toggle area
    </button>
    <p *ngIf="isAreaVisible" appBasicHighlight>Condidtion is true</p>
    <p *appUnless="isAreaVisible" appBasicHighlight>Condidtion is false</p>
  </div>
</div>
