<div>
  <button
    id="dropdownAvatarNameButton"
    (click)="toggleDropdown($event)"
    data-dropdown-toggle="dropdownAvatarName"
    class="flex items-center text-sm font-medium text-white rounded-full hover:text-blue-300 dark:hover:text-blue-500 md:mr-0 dark:focus:ring-gray-700 dark:text-white"
    type="button"
  >
    <span class="sr-only">Open user menu</span>
    <img
      class="w-8 h-8 mr-2 rounded-full"
      src="assets/images/user_icon_32.png"
      alt="user photo"
    />
    John Doe
    <svg
      class="w-2.5 h-2.5 ml-2.5"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 10 6"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="m1 1 4 4 4-4"
      />
    </svg>
  </button>
  <!-- Dropdown menu -->
  <div
    (clickOutside)="onOutsideClick()"
    *ngIf="isDropdownVisible"
    id="dropdownAvatarName"
    class="absolute mt-4 z-10 bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600"
  >
    <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
      <div class="font-medium">Pro User</div>
      <div class="truncate">john@email.com</div>
    </div>
    <ul
      class="py-2 text-sm text-gray-700 dark:text-gray-200"
      aria-labelledby="dropdownInformdropdownAvatarNameButtonationButton"
    >
      <li>
        <a
          href="#"
          class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
          >Dashboard</a
        >
      </li>
      <li>
        <a
          href="#"
          class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
          >Settings</a
        >
      </li>
      <li>
        <a
          href="#"
          class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
          >Earnings</a
        >
      </li>
    </ul>
    <div class="py-2">
      <a
        (click)="onLogout()"
        class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
        >Sign out</a
      >
    </div>
  </div>
</div>
