<div class="shadow-md p-1 m-1">
  <ul class="flex">
    <li class="mr-3">
      <a
        (click)="openModal()"
        class="cursor-pointer inline-block border border-blue-500 rounded py-1 px-3 bg-blue-500 text-white"
        >Add Category</a
      >
    </li>
    <!-- <li class="mr-3">
      <a
        class="inline-block border border-white rounded hover:border-gray-200 text-blue-500 hover:bg-gray-200 py-1 px-3"
        >Pill</a
      >
    </li>
    <li class="mr-3">
      <a class="inline-block py-1 px-3 text-gray-400 cursor-not-allowed"
        >Disabled Pill</a
      >
    </li> -->
  </ul>
</div>
